language: java
jdk:
  - openjdk11

install: true

os: linux
dist: bionic

before_install:
  - echo Begin actual build
  - sudo apt-get -y install gradle

script:

  - gradle clean build

after_success:
  - echo Build successful

after failure:
  - sudo mail -s "Build failure" ghiselli.nicola@gmail.com < /dev/null

before_deploy:
  - echo Preparing for deploy

after_deploy:
  - echo Deployment phase concluded.